body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.borderBox {
    border: 1px solid black;
}

.padding {
    padding: 1rem;
}

.covers {
    display: flex;
    >.cover {
        display: flex;
        flex-wrap: wrap;
        max-width: 25%;
        width: 25%;
        min-width: 25%;
        min-height: 50%;
        flex: 1 0 0%;
        padding: 10px;
        width: 20%;
        padding: .75%;

        >img {
            width: 100%;
        }
    }
}