h3{
    background-color: black; color: white;
}
.CSS{
    background-color: #04AA6D; color: white;
}
h3{
    height: 80px;
}
div.margin{
    width: 500px;
    border: 10px solid black;
    padding: 50px;
    margin: auto;
    background-color: orange;
}
div.border{
    width: 400px;
    border: 10px solid black;
    padding: 50px;
    margin: auto;
    background-color: blue;
}
div.padding{
    width: 300px;
    border: 10px solid black;
    padding: 50px;
    margin: auto;
    background-color: red;
}
div.content{
    width: 200px;
    border: 10px solid black;
    padding: 50px;
    margin: auto;
    background-color: black
}
div.center{
    text-align: center;
    color: white;
}


