h3{
    background-color: black; color: white;
}
.CSS{
    background-color: #04AA6D; color: white;
}
h3{
    height: 80px;
}
div.margin{
    width: 500px;
    border: 10px solid black;
    padding: 40px;
    margin: auto;
    background-color: orange;
}
div.border{
    border: 10px solid black;
    padding: 40px;
    background-color: blue;
}
div.padding{
    border: 10px solid black;
    padding: 40px;
    background-color: red;
}
div.content{
    border: 10px solid black;
    padding: 40px;
    background-color: black
}
.text{
    color: white;
    text-align: center;
    margin: 5px;
    height: 5px;
}

