body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.cover{
    width: 20%;
    padding: .75%;
}
.borderBox{
    border: solid;

}
.padding{
    padding: 1rem;
}
.cover>img{
    width: 100%;
}
.cover1{
    width: 20%;
    border: solid;
    padding: .75%;
}
.cover2{
    width: 20%;
    border: solid;
    padding: .75%;
}
.cover3{
    width: 20%;
    border: solid;
    padding: .75%;
}
.cover4{
    width: 20%;
    border: solid;
    padding: .75%;
}
.cover5{
    width: 20%;
    border: solid;
    padding: .75%;
}
.cover6{
    width: 20%;
    border: solid;
    padding: .75%;
}
.cover7{
    width: 20%;
    border: solid;
    padding: .75%;
}
.covers{
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    /* margin: 4%; */
    /* padding: 5px; */
}
.covers>.cover.cover1.cover2.cover3.cover4.cover5.cover6.cover7{
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    min-height: 50%;
    flex: 1 0 0%;
    padding: 10px;
}
